<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
</head>
<body>
  <h2>ログイン</h2>

  {% if form.errors %}
    <p style="color: red;">ユーザー名またはパスワードが違います。</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div>
      <label>email:</label><br>
      {{ form.username }} <!--Djangoの入力がusernameなのでform.usernameを入れているが、emailを入れる -->
    </div>
    <div>
      <label>パスワード:</label><br>
      {{ form.password }}
    </div>
    <button type="submit">ログイン</button>
  </form>
</body>
</html>
