{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}EngageUp{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" />
  </head>
  <body>
    <!-- container-fluid に p-0 を追加 -->
    <div class="container-fluid p-0">
      <!-- row に g-0 を追加 -->
      <div class="row g-0 justify-content-center">
        <!-- lg以上で6枠。md以下は全幅。centerクラスが浮き上がる演出になります -->
        <div class="col-12 col-lg-6">
          <div class="center">
            <nav class="navbar navbar-dark">
              <div class="container-fluid">
                <div class="d-flex align-items-center">
                  <button
                    class="btn text-white p-0 me-3"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMenu"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      class="bi bi-list"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                      />
                    </svg>
                  </button>
                  <a class="navbar-brand mb-0" href="{% url 'index' %}"
                    >EngageUp</a
                  >
                </div>
              </div>
            </nav>

            <div
              class="offcanvas offcanvas-start w-25 bg-custom-theme"
              tabindex="-1"
              id="offcanvasMenu"
            >
              <div class="offcanvas-header text-white">
                <h5 class="offcanvas-title font-serif" id="offcanvasMenuLabel">
                  Menu
                </h5>
                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="offcanvas"
                ></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav px-2">
                  <!-- 適宜追加 -->
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'enrollments:exam_list_user' %}">検定</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'prof:user_profile' %}">プロフィール</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="">見本</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="">見本</a> 
                  </li>
                    class="nav-item mt-4 pt-4 border-top border-white border-opacity-25"
                  >
                    <a
                      class="nav-link opacity-75 fw-bold"
                      style="color: #e86a6a"
                      href="{% url 'accounts:logout'%}"
                      >ログアウト</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!-- メイン表示エリア -->
            <main class="container py-4">
              {% block content %}{% endblock %}
            </main>

            <!-- フッター -->
            <footer class="text-center py-4 mt-auto">
              <span class="font-serif text-muted">&copy; GroupG</span>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
