<!-- visitor/templates/visitor/select_rank.html -->
<h1>ランクを変更</h1>

<form method="post">
    {% csrf_token %}

    <table border="1">
        <tr>
            <th>定数名</th>
            <th>値</th>
        </tr>

        {% for constant in constants %}
        <tr>
            <td>会社コード</td>
            <td>{{ constant.company_code }}</td>
        </tr>
        <tr>
            <td>アドレス</td>
            <td>{{ constant.address }}</td>
        </tr>
        {% endfor %}
    </table>
      <div style="margin-top:20px;">
      {% if is_paginated %}
          {% if page_obj.has_previous %}
              <a href="?page=1">« 最初</a>
              <a href="?page={{ page_obj.previous_page_number }}">‹ 前</a>
        {% endif %}

          <span>
              {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">次 ›</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">最後 »</a>
          {% endif %}
      {% endif %}
  </div>

    <br>
    <a class="nav-link text-white" href="{% url 'administer:constant_update'%}">編集</a>
</form>
